.container .text 
{
    font-size: 22px;
    
}

.container .text li 
{
    list-style-type: initial;
    margin-left: 2rem;
}

.games .board .cell .light 
{
    width: 90%;
    height: 90%;
    
    border-radius: 100%;
    background: rgb(194, 31, 31);
}

.games .board .cell .light.green 
{
    background: green;
}

.fail_element 
{
    margin: 2rem auto;
    text-align: center;
    color: rgb(214, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    
}

.fail_element .restart 
{
    border: 2px solid #000;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
    
}

.next-lesson 
{
    display: none;
    opacity: 0;
}

.next-lesson.show 
{
    display: flex;
    opacity: 1;
    transform: initial;

}